#collections {
    background-color: rgb(32, 31, 31);
}

.section-title {
    margin-bottom: 20px;
    color: #f0e9e9;
}

.section-subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e9a209;
}