#collections {
    background-color: var(--color-neutral-900); /* oklch(20.5% 0 0) */
}

.section-title {
    margin-bottom: 20px;
    color: #f0e9e9;
}

.section-subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e9a209;
}