#collections {
    background-color: var(--color-neutral-900); /* oklch(20.5% 0 0) */
}

.section-title {
    margin-bottom: 20px;
    color: #f0e9e9;
}

.section-subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e9a209;
}

/* Ta todo cagado, precisa arrumar */
@media (max-width: 1024px) {

    .instagram-widget {
       
    }

    #instagram_widget {
        width: 150%;
        margin-left: -25%;
    }

}