#collections {
    background-color: #1f1f1f;
}

.section-title {
    margin-bottom: 20px;
    color: #f0e9e9;
}

.section-subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e9a209;
}