#home {
    background-image: url('../assets/Gemini_Generated_Image_fz7i8ofz7i8ofz7i.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: calc(100vh - 48px);
}

/* Overlay escuro opcional para melhorar legibilidade */
#home::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(20, 20, 20, 0.4);
    z-index: 0;
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 1%;
}

#cta_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#cta_buttons {
    gap: 24px;

}

@media screen and (max-width: 768px) {
    #home{
        min-height: 100%;
    }
    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}